<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="style_a.css">
        <title>Google Map</title>
    </head>
    <body>
        <div id="map-canvas"></div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="></script>
        <script src="'List.js"></script>
        <script src="Mapster.js"></script>
        <script src="map-options.js"></script>
        <script src="script.js"></script>
    </body>
</html>
