<header> 
  <h1> Welcome to WiFly NYC</h1>
</header>
<main>
  <p> Here we say who we are.</p>
  
  <form>
    <label>
      Login/Signup<br>
        <label id='formLabel' for="loginUser">Username:</label><br>
        <input class='formText' type="text" id="loginUser" name="loginUser"><br><br/>
        <label id='formLabel' for="loginEmail">Email:</label><br>
        <input class='formText' type="text" id="loginEmail" name="loginEmail"><br><br/>
        <label id='formLabel' for="loginPassword">Password:</label><br>
        <input class='formText' type="text" id="loginPassword" name="loginPassword"><br><br/>
        <input class="submit" type="submit" value="Create account/Login">
    </label>
  </form>