<link rel="stylesheet" href="/public/css/styles.css">
<header>
  <h1> Welcome to WiFly NYC</h1>
</header>
<main>

  <form id="accountHandling">
    Login<br><br>

    <label class='formLabel' for="loginUser">
      Username:<br>
      <input class='formText' type="text" id="loginUser" name="loginUser">
    </label><br><br>

    <label class='formLabel' for="loginPassword">
      Password:<br>
      <input class='formText' type="password" id="loginPassword" name="loginPassword">
    </label><br><br>

    <button class="submit" type="submit">Login</button>
  </form>
  <p id="error"></p>
  <br><br />
  <Label>
    Don't have an account?
    <button class="newAccount" onclick="window.location.href='/newAccount'">
      Create a new account
    </button>
  </Label>
  <script src="../public/js/users.js"></script>
  <script src="/public/js/helpers.js"></script>
</main>