<header>
    <h1>Find NYC Coffee Shops</h1>
</header>

<main>
    <form>
        <label>
            Coffee
        <input type="checkbox" id="coffeeCheckBox" name="cofee" />
        </label>
    </form>

 <div id="coffeeLocations">
  </div>
</main>
</main>

<script src="/public/js/coffee.js"></script>
