<link rel="stylesheet" href="/public/css/style_a.css">
<header> 
    <h1>{{title}}</h1>
    <!-- https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp -->
      <div class="navbar">
        <a href="/home">Home Page</a>
        <div class="dropdown">
          <button class="dropbtn">
            Events
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/location/events">All Events</a>
            <a href="/location/events/city">Search by Borough</a>
            <a href="/location/events/date">Search by Date</a>
          </div>
        </div>
        <a href="friends">Friends List</a>
        <a href="/userFeed"> User Feed </a>
        <a href="/about">About</a>
        <a href="/logout">Signout</a>

      </div>
  </header>


    <h2 id="friend-head">{{username}}'s Friends</h2>
    <main>
      {{#if friends.length}}
        <ul class="friends-list">
          {{#each friends}}
            <li class="friend-item">
              <span class="friend-name">{{this}}</span>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>You haven't added any friends yet!</p>
      {{/if}}
    </main>
