<link rel="stylesheet" href="/public/css/styles.css">
<header>
  <h1>Welcome to WiFly NYC</h1>
  <!-- https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp -->
      <div class="navbar">
        <a href="/home">Home Page</a>
        <div class="dropdown">
          <button class="dropbtn">
            Events
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/location/events">All Events</a>
            <a href="/location/events/city">Search by Borough</a>
            <a href="/location/events/date">Search by Date</a>
          </div>
        </div>
        <a href="/friends">Friends List</a>
        <a href="/userFeed"> User Feed </a>
        <a href="about">About</a>
        <a href="/logout">Signout</a>

      </div>
</header>

  <div id="motivation">
    <h1> Our Motivation</h1>
    <p> In today's extremely digital world staying connected is more important than ever. 
    But let's face it, finding free, and reliable WiFi in New York City can be a real challenge.
     For remote workers and students, the struggle doesn't end there. Even when you find WiFi, you need a 
     comfortable, productive space to work or study. And in a city as diverse and dynamic as New York, there
      are countless hidden gems and interesting places waiting to be discovered – if only we knew where to look.
       These are the problems we set out to solve with WiFly NYC.</p>
  </div>
  
  <div id="description">
    <h1> Description</h1>
    <p> Discover the perfect blend of connectivity and comfort in the heart of New York City. WiFly NYC 
      is your go-to guide for finding free WiFi hotspots and cozy spaces to work, study, or simply unwind as well as events 
      happening in the city, such as festivals, street markets, or sports events.</p>
  </div>

  <div id="members">
    <h1> Who are we?</h1>

    <ul> 
      <li> Emma Freire: 3rd year CS student at Stevens Institute of Technology </li>
      <li> Eduardo Hernandez: 4th year CS student at Stevens Institute of Technology </li>
      <li> Daniel Fong: 3rd year CS student at Stevens Institute of Technology</li>
      <li> Alice Agnoletto: 3rd year CS student at Stevens Institute of Technology</li>
      <li> Chris Englebart: 4th year CS student at Stevens Institute of Technology</li>
    </ul>
  </div>
