<header> 
  <h1> Welcome to WiFly NYC</h1>
</header>
<main>
  <p> Here we say who we are.</p>
  
  <form>
    <label>
      Wi-Fi
      <input type="checkbox" id="wifiCheckbox" name="wifi" />
    </label>
  </form>

  <div id="wifiLocations">
  </div>
</main>

<script src="/public/js/wifi.js"></script>
