<body>
    <link rel="stylesheet" href="/public/css/style_a.css">
    <header>
        <h1>Main Feed Page</h1>
          <p> Here we say who we are.</p>

  <a href="events">events Page</a>
    </header>
    <main>
        <div class="content">
            <section class="input-section">
                {{!-- <label for="starting-address">Starting Address:</label>
                <input id="starting-address" type="text" placeholder="Enter a location" /> --}}
                <input id="searchTextField" type="text" placeholder="Enter a specific address" size="50">

                <form id="radius-value">
                    <label for="radius">Radius (miles):</label>
                    <select id="radius" onchange="radiusSubmit()">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 mile</option>
                        <option value="2">2 miles</option>
                        <option value="5">5 miles</option>
                        <option value="10">10 miles</option>
                    </select>
                </form>

                <fieldset>
                    <legend>Filters:</legend>
                    <label><input id="coffee-checkbox" type="radio" name="filter" value="coffee"> Coffee</label>
                    <label><input id="wifi-checkbox" type="radio" name="filter" value="wifi"> Wifi</label>
                </fieldset>
            </section>

            <section class="places-feed">
                <div id="wifiLocations"></div>
                <div id="coffeeLocations"></div>
            </section>
        </div>
      <aside class="sidebar">
    <section class="place-of-the-day">
        <h2>Place of the Day</h2>
        <p>Name: <span id="place-name">Loading...</span></p>
        <p>Address: <span id="place-address">Loading...</span></p>
        <p>Type: <span id="place-type">Loading...</span></p>
    </section>
    <div class="map">
        <div id="map-canvas" style="height: 400px; width: 100%;"></div>
    </div>
</aside>
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{!--
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap"></script> --}}
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChIdMPrp5hO5iGxXaPp83MRojZSMRKgkA&libraries=places&callback=initMap"></script>
    {{!--
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script> --}}
    <script src="/public/js/List.js"></script>
    <script src="/public/js/Mapster.js"></script>
    <script src="/public/js/map-options.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/wifi.js"></script>
    <script src="/public/js/coffee.js"></script>
    {{!-- <script src="/public/js/map-display.js"></script> --}}
</body>