<link rel="stylesheet" href="/public/css/styles.css">
<header>
  <h1> Welcome to WiFly NYC</h1>
</header>
<main>
  <form id="accountHandling">
    Signup<br><br>
    <label class='formLabel' for="loginUser">
      Username:<br>
      <input class='formText' type="text" id="loginUser" name="loginUser">
    </label><br><br>

    <label class='formLabel' for="loginEmail">
      Email:<br>
      <input class='formText' type="email" id="loginEmail" name="loginEmail">
    </label><br><br>

    <label class='formLabel' for="loginPassword">
      Password:<br>
      <input class='formText' type="password" id="loginPassword" name="loginPassword">
    </label><br><br>

    <button class="submit" type="submit">Create Account</button>
  </form>
  <p id="error"></p>
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
  <script src="../public/js/users.js"></script>
  <script src="/public/js/helpers.js"></script>
</main>