<link rel="stylesheet" href="/public/css/styles.css">
<header>
  <h1> Welcome to WiFly NYC</h1>
</header>
<main>
  <form id="accountHandling" action="/signup" method="POST">
    Signup<br><br>
    <label class='formLabel' for="loginUser">
      Username:<br>
      <input class='formText' type="text" id="loginUser" name="loginUser">
    </label><br><br>

    <label class='formLabel' for="loginEmail">
      Email:<br>
      <input class='formText' type="email" id="loginEmail" name="loginEmail">
    </label><br><br>

    <label class='formLabel' for="loginPassword">
      Password:<br>
      <input class='formText' type="password" id="loginPassword" name="loginPassword">
    </label><br><br>
    <label class='formLabel' for="confirmPassword">
      Confirm Password:<br>
      <input class='formText' type="password" id="confirmPassword" name="confirmPassword">
    </label><br><br>

    <button class="submit" type="submit">Create Account</button>
  </form>
  <br><br><br>
  <Label>
    Already have an account?
    <button class="newAccount" onclick="window.location.href='/'">
      Log in
    </button>
  </Label>
  <p id="error">{{error}}</p>
  <script src="../public/js/users.js"></script>
  <script src="/public/js/helpers.js"></script>
</main>