<link rel="stylesheet" href="/public/css/styles.css">

<header>
  <h1>{{title}}</h1>
  <!-- https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp -->
  <div class="navbar">
    <a href="/home">Home Page</a>
    <div class="dropdown">
      <button class="dropbtn">
        Events
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/location/events">All Events</a>
        <a href="/location/events/city">Search by Borough</a>
        <a href="/location/events/date">Search by Date</a>
      </div>
    </div>
    <a href="/friends">Friends List</a>
    <a href="/userFeed"> User Feed </a>
    <a href="/about">About</a>
    <a href="/logout">Signout</a>

  </div>
</header>

<div class="main-content">
  <button id="postButton">Create Post</button>

  <div id="reviewPrompt" class="hidden">
    <form id="reviewForm">
      <h3>Leave a Post</h3>

      {{!-- Search Bar & Data List https://webdesign.tutsplus.com/how-to-build-a-search-bar-with-javascript--cms-107227t --}}
      <label class="locationSearchLabel" id="locationSearchLabel" for="locationSearch">
        Location:
        <input type="search" id="locationSearch" name="locationSearch" placeholder="Start typing to search..."
          list="locationSearchOptions" size="40">
      </label>

      <label id="placeLabel" for="placeName">
        Post Title:
        <input type="text" id="placeName" name="placeName" required />
      </label>

      <label for="reviewText">Your Post:</label>
      <textarea id="reviewText" name="reviewText" rows="4" cols="30" placeholder="Enter your review here"
        required></textarea>

      <img id="imagePreview" src="Placeholder" alt="Your uploaded image">

      <label for="imageAltText" id="imageAltLabel">
        Image Alt Text:
        <textarea id="imageAltText" name="imageAltText" rows="4" cols="30"
          placeholder="Enter alt text for your image here"></textarea>
      </label>

      <button id="upload_widget" class="cloudinary-button">Upload files</button>
      <br>
      <button id="removeImage">Remove Image</button>

      <div id="reviewFormButtons" class="buttonGroup" style="margin-top: 20px;">
        <button type="submit" id="submitReviewButton">Submit</button>
        <button type="button" id="cancelButton">Cancel</button>
      </div>
    </form>
  </div>

  <datalist id="locationSearchOptions"></datalist>

  <fieldset id="postLocationCheckboxes">
    <legend>Select a Location Type:</legend>
    <label><input id="none-checkbox" type="radio" name="filter" value="none"> None</label>
    <label><input id="wifi-checkbox" type="radio" name="filter" value="wifi"> Wifi</label>
    <label><input id="coffee-checkbox" type="radio" name="filter" value="coffee"> Coffee</label>
    <label><input id="event-checkbox" type="radio" name="filter" value="event"> Event</label>
  </fieldset>

  <p id="error"></p>
  <div id="userPosts"> </div>
  <input type="hidden" id="userData" value='{{{userData}}}'>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://upload-widget.cloudinary.com/latest/global/all.js"></script>
<script>
  const cloudinaryConfig = {
    cloudName: {{{ cloudName }}},
    uploadPreset: {{{ uploadPreset }}}
  }
</script>
<script src="/public/js/helpers.js"></script>
<script src="/public/js/feed.js"></script>