body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #f8f9fa;
  text-align: center;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

h2{
  display: none;
}

.sidebar {
    width: 50%;
    background-color: #f1f1f1;
    padding: 1rem;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.map {
  background-color: #e6f7ff;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.place-of-the-day {
  background-color: #eef;
  padding: 1rem;
  border-radius: 8px;
}

.user-feed-link {
  margin-top: auto;
  text-align: center;
  font-size: 1rem;
}

.content {
    width: 50%; 
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-section {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.places-feed {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.place-item {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

select {
  font-family: monospace;
}


footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ddd;
}

::placeholder {
  font-family: monospace;
  font-style: italic;
  font-size: 1em;
  color: rgb(117, 117, 117);
  padding: 5px;
}

.coffeeShopDetail {
    margin-bottom: 20px;
  }
  
  .coffeeShopDetail p,
  .coffeeShopDetail strong {
    padding: 0;
    margin: 0;
  }
  
  #wifiLocations table {
    width:100%;
    text-align: center;
    color: #A3A380;
    background-color: #EFEBCE;
  
  }
  
.label{ 
  text-align: center;
  justify-content: center;

}

#coffeeLocations table {
  width:100%;
  text-align: center;
  color: #A3A380;
  background-color: #EFEBCE;
}

#wifiLocations table th,
#wifiLocations table td {
  border: 9px solid #ddd;
  padding: 30px;
}

#coffeeLocations table th,
#coffeeLocations table td {
  border: 9px solid #ddd;
  padding: 30px;
}


#wifiLocations table tr:hover {
  color: #EFEBCE;
  background-color: #A3A380;
}

#coffeeLocations table tr:hover {
  color: #EFEBCE;
  background-color: #A3A380;
}
/* Hover effect for individual table cells */
#wifiLocations table th:hover,
#wifiLocations table td:hover {
  background-color: #a3a380;
}

#coffeLocations table th:hover,
#coffeLocationsn table td:hover {
  background-color: #a3a380;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #EFEBCE;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 300px;
  text-align: center;
  z-index: 1000;
}

.exit-button {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #BB8588;
  border-radius: 5px;
  cursor: pointer;
}

.review-container {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  height: 80px;
}

.review-container p:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.review-text {
  margin: 10px 0;
}

.review-input {
  margin-bottom: 10px;
  width: 90%;
}

.review-textarea {
  width: 90%;
  margin-bottom: 10px;
}

.button-group {
  margin-top: 10px;
}

.button-group button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
}

.close-button {
  background-color: #BB8588;
  color: white;
}

.checkbox-container {
  display: flex;
  gap: 20px;
}

.coffeeReview {
  padding-bottom: 10px;
}

h2.coffeeDetailHeader,
p.noSpacing {
  margin: 0
}

section.sectionSpacing {
  margin-bottom: 20px;
}

.star-rating {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  color: #ccc;
}

.star-rating .star {
  margin: 0 5px;
  transition: color 0.3s;
}

/* .star-rating .star:hover,
.star-rating .star:hover ~ .star {
  color: #ffc107;
} */
.star-rating .selected {
  color: #ffc107;
}

.navbar {
  overflow: hidden;
  background-color: #D6CE93;
  font-family: Arial;
  border-radius: 8px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #8b8b65;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #8b8b65;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #EFEBCE;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EFEBCE;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #8b8b65;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#friend-head {
  color: black;
  font-family: monospace;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.events-list {
  max-height: 80vh; 
  overflow-y: auto; 
  width:100%; 
}
